<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Productos</title>
</head>
<body>


<div class="container">
    <h3>Listado de Productos</h3>
    <div class="col-md-12">
        <a th:href="@{/products/add}" class="btn btn-primary">Agregar productos</a>
    </div>

    <div th:switch="products" >
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <th scope="row" th:text="${product.getCodProduct()}" ></th>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>


                    <td class="text-right">
                        <div class="btn-group">

                            <a th:href="@{/products/edit/{codProduct}
                                    (codProduct=${product.codProduct})}"
                               class="btn btn-primary btn-sm">Editar</a>

                            <a th:href="@{/products/delete/{codProduct}
                                (codProduct=${product.codProduct})}"
                               class="btn btn-danger btn-sm">Eliminar</a>

                        </div>
                    </td>

                </tr>
                </tbody>

            </table>


        </div>

    </div>


</div>



</body>
</html>
